* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: white;
}

#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

#nav_1 {
  display: flex;
  align-items: center;
}

#nav h3 {
  border: 1.5px solid black;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#nav i {
  border: 1.5px solid black;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#nav h1 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav button {
  border: 1.5px solid black;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

#btn1 {
  background: transparent;
}
#btn2 {
  color: white;
  background: orangered;
}
