* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}
#nav {
  font-size: 19px;
  font-weight: 700;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 40px 0 40px;
  z-index: 50;
}
#nav h3 {
  background-color: #1e1e21;
  color: white;
  padding: 14px 25px;
  border-radius: 50px;
  margin-left: 10px;
}

#intro {
  height: 68%;
  width: 100%;
  padding: 40px 60px;
  color: #1e1e21;
  background-color: #f5f3ef;
}

#intro h1 {
  font-size: 145px;
  line-height: 135px;
  letter-spacing: -4px;
}
#place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
#place h3 {
  font-size: 30px;
  font-weight: 600;
}

#hero-image {
  height: 80%;
  width: 100%;
  background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp");
  background-size: cover;
}

#about {
  width: 100%;
  z-index: 10;
  height: 95%;
  display: flex;
  justify-content: space-between;
  padding: 50px 60px;
  color: #1e1e21;
  background-color: #f5f3ef;
  gap: 10px;
  position: relative;
}

#about h2 {
  width: 66%;
  height: 100%;
  font-size: 95px;
  letter-spacing: -3px;
  line-height: 83px;
  padding-right: 80px;
}

#about-2{
    height: 100%;
    width: 36%;
    font-size: 25px;
    border-left: 2px solid #000;
    padding-left: 70px;
}
#icons i{
    background-color: #1e1e21;
    color: white;
    padding: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-right: 13px;
}
#icons{
    position: absolute;
    bottom: 12%;
}

#service{
  height: 95%;
  width: 100%;
  background-color: #f5f3ef;
  padding: 0 60px;
  color: #1e1e21;
}

#service-items{
  height: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  padding: 50px 0;
  display: flex;
}

#service-item-1{
  width: 33%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border-right: 2px solid black;
  padding-right: 50px;
  i{
    font-size:38px;
  }
}

#service-item-2{
  height: 100%;
  width: 64%;
  padding-left: 50px;
}

#service-1{
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
  h2{
    font-size: 43px;
    line-height: 42px;
  }
  p{
    font-size: 22px;
    color: gray;
  }
  #child-1{
    width: 50%;
    border-right: 2px solid black;
    padding-right: 30px;
  }
  #child-2{
    width: 50%;
    padding-left: 30px;
  }
}
#service-2{
  display: flex;
  padding-top: 30px;
  h2{
    font-size: 43px;
    line-height: 42px;
  }
  p{
    font-size: 22px;
    color: gray;
  }
  #child-3{
    width: 50%;
    border-right: 2px solid black;
    padding-right: 30px;
  }
  #child-4{
    width: 50%;
    padding-left: 30px;
  }
}
